<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>gameScore</title>
    <link rel="stylesheet" type="text/css" href="/css/gameScore.css">

</head>
<body>
</br>
    <div class="header">
        <h2>게임정보</h2>
    </div>
<hr>
<div class="center">
    <b>게임날짜</b>
    <span th:text="${#dates.format(game.gameDate, 'yyyy-MM-dd')}"></span>
    <b>참여인원</b>
    <span th:text="${scoreList.size()}"></span> 명
</div>
<div class="header1">
    <h2>게임점수</h2>
</div>
<div>
    <table>
        <tr>
            <td class="table1">회원ID</td>
            <td class="table2">이름</td>
            <td class="table3">G1</td>
            <td class="table3">G2</td>
            <td class="table3">G3</td>
            <td class="table3">G4</td>
            <td class="table3">HANDICAP</td>
            <td class="table3">TOTAL SCORE</td>
            <td class="table3">AVG SCORE</td>
        </tr>
        <tr th:each="score : ${scoreList}">
            <td th:text="${score.userId}"></td>
            <td th:text="${score.userName}"></td>
            <td th:text="${score.scoreG1}" th:class="${score.scoreG1 ge 200} ? 'scoreHigh' : ''"></td>
            <td th:text="${score.scoreG2}" th:class="${score.scoreG2 ge 200} ? 'scoreHigh' : ''"></td>
            <td th:text="${score.scoreG3}" th:class="${score.scoreG3 ge 200} ? 'scoreHigh' : ''"></td>
            <td th:text="${score.scoreG4}" th:class="${score.scoreG4 ge 200} ? 'scoreHigh' : ''"></td>
            <td th:text="${score.handicap}"></td>
            <td th:text="${score.totalScore}"></td>
            <td th:text="${score.avgScore}"></td>
        </tr>
    </table>
</div>
<div class="padding3">
    <button type="button" onclick="cancel()" class="cancelBtn">⏎</button>
    <button class="saveModal">＋</button>
    <button onclick="openModal(this)" class="updateScore">⬆</button>
    <button onclick="GameModal()" class="updateGame">📅⬆</button>
    <button type="button" class="excelDownloadScores">
        <img src="/images/iconsExcelGreen.png" onclick="excelDownloadScores()">
    </button>
</div>

<div class="modal" id="modal">
    <div class="modal_body">
        <button type="button" class="closeModal" >X</button>
        <div class="modalHeader">
            <h2>게임점수</h2>
        </div>
        <form action="/bowling/games/{gameId}" method="post" enctype="application/x-www-form-urlencoded" id="scoreForm">
            <input type="hidden" name="gameId" th:value="${game.gameId}" id="gameId">
            <table class="table0">
                <tr>
                    <td class="table0-1">회원ID</td>
                    <td class="table0-2">이름</td>
                    <td class="table0-3">참여 여부</td>
                    <td class="table0-4">G1</td>
                    <td class="table0-4">G2</td>
                    <td class="table0-4">G3</td>
                    <td class="table0-4">G4</td>
                    <td class="table0-4">HANDICAP</td>
                </tr>
                <tr th:each="user, iterStat : ${users}">
                    <td>
                        <input type="hidden"  name="userId" th:value="${user.userId}" class="userId-input">
                        <span th:text="${user.userId}"></span>
                    </td>
                    <td th:text="${user.name}" class="userName-input"></td>
                    <td>
                        <input type="radio"  th:name="users[__${iterStat.index}__].attendance" value="참여" checked onclick="toggleInputs(this)"> 참여
                        <input type="radio"  th:name="users[__${iterStat.index}__].attendance" value="불참" onclick="toggleInputs(this)"> 불참
                    </td>
                    <td><input type="number" min="0" max="300" name="scoreG1" class="score-input" onchange="calculateTotalScore(this)"></td>
                    <td><input type="number" min="0" max="300" name="scoreG2" class="score-input" onchange="calculateTotalScore(this)"></td>
                    <td><input type="number" min="0" max="300" name="scoreG3" class="score-input" onchange="calculateTotalScore(this)"></td>
                    <td><input type="number" min="0" max="300" name="scoreG4" class="score-input" onchange="calculateTotalScore(this)"></td>
                    <td><input type="number" name="handicap" class="score-input" value="0"></td>
                </tr>
            </table>
            <button type="submit" class="button">✓</button>
        </form>
    </div>
</div>

<div class="modal" id="updateModal">
    <div class="modal_body">
        <button type="button" class="closeModal" onclick="closeModal()" >X</button>
        <div class="modalHeader">
            <h2>점수 수정</h2>
        </div>
        <form action="/bowling/game/scores/updateScores" method="post" name="updateForm">
            <table class="table0">
                <tr>
                    <td class="table0-1">회원ID</td>
                    <td class="table0-2">이름</td>
                    <td class="table0-4">G1</td>
                    <td class="table0-4">G2</td>
                    <td class="table0-4">G3</td>
                    <td class="table0-4">G4</td>
                    <td class="table0-4">HANDICAP</td>
                    <td class="table0-5"></td>
                </tr>
                <tr th:each="updateScores : ${updateScores}">
                    <td>
                        <input type="hidden" name="scoreId" th:value="${updateScores.scoreId}">
                        <input type="hidden" name="gameId" th:value="${updateScores.gameId}">
                        <input type="hidden" name="userId" th:value="${updateScores.userId}">
                        <span th:text="${updateScores.userId}"></span>
                    </td>
                    <td>
                        <input type="hidden" name="userName" th:value="${updateScores.userName}">
                        <span th:text="${updateScores.userName}"></span>
                    </td>
                    <td> <input type="number" min="0" max="300" name="scoreG1" th:value="${updateScores.scoreG1}" class="textbox"></td>
                    <td> <input type="number" min="0" max="300" name="scoreG2" th:value="${updateScores.scoreG2}" class="textbox"></td>
                    <td> <input type="number" min="0" max="300" name="scoreG3" th:value="${updateScores.scoreG3}" class="textbox"></td>
                    <td> <input type="number" min="0" max="300" name="scoreG4" th:value="${updateScores.scoreG4}" class="textbox"></td>
                    <td> <input type="number" name="handicap" th:value="${updateScores.handicap}" class="textbox"></td>
                    <td> <button type="button" th:onclick="deleteScore([[${updateScores.scoreId}]])"  class="deleteScore">−</button></td>
                </tr>
            </table>
            <button type="submit" class="button">✓</button>
        </form>
    </div>
</div>

<div class="modal" id="gameModal">
    <div class="gameModal_body">
        <button type="button" class="closeModal" onclick="closeGameModal()">X</button>
        <div class="modalHeader">
            <h2>게임수정</h2>
        </div>
        <div>
            <form action="/bowling/game/update" method="post" enctype="application/x-www-form-urlencoded">
                <p>게임날짜</p>
                <input type="hidden" name="gameId" th:value="${gameUpdate.gameId}">
                <input type="date" name="gameDate" class="textbox2" th:value="${#dates.format(gameUpdate.gameDate, 'yyyy-MM-dd')}"></br>
                <div class="modalSave">
                    <input type="submit" value="✓" class="button">
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>
<script>
    const modal = document.querySelector('.modal');
    const btnOpenModal=document.querySelector('.saveModal');
    const closeModalBtn = document.querySelector('.closeModal');


    btnOpenModal.addEventListener("click", ()=>{
        modal.style.display="flex";
    });

     closeModalBtn.addEventListener("click", () => {
        modal.style.display = 'none';
    });

    function openModal(button) {
        var modal = document.getElementById("updateModal");
        modal.style.display = "flex";
    }

    function GameModal(button) {
        var modal = document.getElementById("gameModal");
        modal.style.display = "flex";
    }

     function closeModal(button) {
        var modal = document.getElementById("updateModal");
        modal.style.display = "none";
    }

     function closeGameModal(button) {
        var modal = document.getElementById("gameModal");
        modal.style.display = "none";
    }

    function toggleInputs(radio) {
        var row = radio.closest("tr");
        var inputs = row.querySelectorAll(".score-input, input[name='handicap'], .userId-input, .userName-input");

        if (radio.value === "불참") {
            inputs.forEach(function(input) {
                input.disabled = true;
         });
            } else {
                inputs.forEach(function(input) {
                input.disabled = false;
            });
        }
    }

    const cancel =()=> {
        location.href = "/bowling/games";
    }

    function deleteScore(g) {
        console.log(g);
        if(confirm("이 회원의 점수를 삭제하시겠습니까?")) {
            location.href = "/bowling/game/scores/delete/" + g;
        }
    }

    function excelDownloadScores() {
    var gameId = document.getElementById("gameId").value;
    location.href = "/bowling/downloadScoresByGameId/" + gameId;
}

</script>