<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>games</title>
    <link rel="stylesheet" type="text/css" href="/css/games.css">
</head>
<body>
</br>
<div class="ptop">
    <div class="top">
    <div class="header">
        <h2>게임목록</h2>
    </div>
        <hr>
    </div>
    <div class="left">
        <div class="side">
            <div class="sideB">
                <button type="button" onclick="homeReq()" class="btn1">🏠</button><br>
                <button type="button" onclick="userReq()" class="btn1">👥</button><br>
                <button type="button" onclick="gameReq()" class="btn1">🎳</button>
            </div>
        </div>
    </div>
    <div class="right">
        <table>
            <tr>
                <td class="table1">게임ID</td>
                <td>게임날짜</td>
            </tr>
            <tr th:each="gameDto : ${gameList}">
                <td th:text ="${gameDto.gameId}"></td>
                <td>
                    <a th:href="@{|/bowling/games/${gameDto.gameId}|}" th:text="${#dates.format(gameDto.gameDate, 'yyyy-MM-dd')}"></a>
                </td>
            </tr>
        </table>
        <div class="center">
            <button type="button" class="addGame">+</button>
        </div>
    </div>
    <div class="bottom"></div>
</div>

<div class="modal" id="modal">
    <div class="modal_body">
            <button type="button" class="closeModal" >X</button>
        <div class="modalHeader">
                <h2>게임추가</h2>
        </div>
        <div>
            <form action="/bowling/addGame" method="post" enctype="application/x-www-form-urlencoded">
                <p>게임날짜</p>
                <input type="date" name="gameDate" class="textbox2"></br>
                <div class="modalSave">
                    <input type="submit" value="✓" class="button">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    const homeReq = () => {
        location.href = "/bowling/home";
    };

    const userReq = () => {
        location.href = "/bowling/users";
    };

    const gameReq = () => {
        location.href = "/bowling/games";
    };

    const modal = document.querySelector('.modal');
    const btnOpenModal=document.querySelector('.addGame');
    const closeModalBtn = document.querySelector('.closeModal');

     btnOpenModal.addEventListener("click", ()=>{
        modal.style.display="flex";
    });

    closeModalBtn.addEventListener("click", () => {
        modal.style.display = 'none';
    });

</script>
</html>