<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>games</title>
    <link rel="stylesheet" type="text/css" href="/css/games.css">
</head>
<body>
</br>
<div class="ptop">
    <div class="top">
    <div class="header">
        <h2>게임목록</h2>
    </div>
        <hr>
    </div>
    <div class="left">
        <div class="side">
            <div class="sideB">
                <button type="button" class="btn1" onmouseover="changeImage(true)" onmouseout="changeImage(false)">
                    <img src="/images/iconsHomeBlack.png" onclick="homeReq()" class="sideBtn1" id="buttonImage">
                </button></br>
                <button type="button" class="btn1" onmouseover="changeImage2(true)" onmouseout="changeImage2(false)">
                    <img src="/images/iconsUsersBlack.png" onclick="userReq()" class="sideBtn2" id="buttonImage2">
                </button></br>
                <button type="button" class="btn1">
                    <img src="/images/iconsBowlingOrange.png" onclick="gameReq()" class="sideBtn3">
                </button>
            </div>
        </div>
    </div>
    <div class="right">
        <table>
            <tr>
                <td class="table1">게임ID</td>
                <td>게임날짜</td>
            </tr>
            <tr th:each="gameDto : ${gameList}">
                <td th:text ="${gameDto.gameId}">
                    <input type="hidden" class="gameId" th:value="${gameDto.gameId}">
                </td>
                <td>
                    <a th:href="@{|/bowling/games/${gameDto.gameId}|}" th:text="${#dates.format(gameDto.gameDate, 'yyyy-MM-dd')}" ></a>
                    <input type="hidden" class="gameDate" th:value="${gameDto.gameDate}">
                </td>
            </tr>
        </table>
        <div class="btnPadding">
            <div class="center">
                <button type="button" class="addGame">+</button>
            </div>
    </div>
    <div class="bottom"></div>
    </div>
</div>

<div class="modal" id="modal">
    <div class="modal_body">
            <button type="button" class="closeModal" >X</button>
        <div class="modalHeader">
                <h2>게임추가</h2>
        </div>
        <div>
            <form action="/bowling/addGame" method="post" enctype="application/x-www-form-urlencoded">
                <p>게임날짜</p>
                <input type="date" name="gameDate" class="textbox2"></br>
                <div class="modalSave">
                    <input type="submit" value="✓" class="button">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<script>
    const homeReq = () => {
        location.href = "/bowling/home";
    };

    const userReq = () => {
        location.href = "/bowling/users";
    };

    const gameReq = () => {
        location.href = "/bowling/games";
    };

    const modal = document.querySelector('.modal');
    const btnOpenModal=document.querySelector('.addGame');
    const closeModalBtn = document.querySelector('.closeModal');

     btnOpenModal.addEventListener("click", ()=>{
        modal.style.display="flex";
    });

    closeModalBtn.addEventListener("click", () => {
        modal.style.display = 'none';
    });

    function changeImage(isHovering) {
        var img = document.getElementById('buttonImage');
        if (isHovering) {
            img.src = '/images/iconsHomeRed.png';
        } else {
            img.src = '/images/iconsHomeBlack.png';
        }
    }

    function changeImage2(isHovering) {
        var img = document.getElementById('buttonImage2');
        if (isHovering) {
            img.src = '/images/iconsUsersBlue.png';
        } else {
            img.src = '/images/iconsUsersBlack.png';
        }
    }

</script>
</html>