<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>updateUser</title>
</head>
<body>
<div>
    <h2>회원수정</h2>
</div>
<div>
    <form action="/bowling/update/users" method="post" name="updateForm">
        <table >
            <tr>
                <td>ID</td>
                <td>이름</td>
                <td>영문명</td>
                <td>생년월일</td>
                <td>성별</td>
                <td>전화번호</td>
                <td>주소</td>
            </tr>
            <tr th:each="updateUser : ${updateUser}">
                <td th:value="${updateUser.userId}"></td>
                <td> <input type="text" name="name" th:value="${updateUser.name}" required></td>
                <td> <input type="text" name="englishName" th:value="${updateUser.englishName}"></td>
                <td> <input type="date" name="birthDate" th:value="${#dates.format(updateUser.birthDate, 'yyyy-MM-dd')}"></td>
                <td>
                    <input type="radio" id="male" name="gender" value="남" th:checked="${updateUser.gender == '남'}" required>남
                    <input type="radio" id="female" name="gender" value="여" th:checked="${updateUser.gender == '여'}" required>여
                </td>
                <td> <input type="text" name="phoneNumber" th:value="${updateUser.phoneNumber}"></td>
                <td> <input type="text" name="address"th:value="${updateUser.address}"></td>
            </tr>
        </table>
        <button type="submit">수정하기</button>
    </form>
</div>
<button type="button" onclick="addUserReq()">회원추가</button>
</body>
</html>
<script>
    const addUserReq =()=> {
        location.href = "/bowling/add";
    }
</script>