<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>updateUser</title>
    <link rel="stylesheet" type="text/css" href="/css/updateUser.css">

</head>
<body>
</br>
<div class="header">
    <h2>회원수정</h2>
</div>
<hr>
<div class="center">
    <form action="/bowling/update/users" method="post" name="updateForm">
        <table>
            <tr>
                <td class="table1">ID</td>
                <td class="table2">이름</td>
                <td class="table3">영문명</td>
                <td class="table4">생년월일</td>
                <td class="table5">음/양</td>
                <td class="table7">성별</td>
                <td class="table6">전화번호</td>
                <td>주소</td>
                <td class="table1"></td>
            </tr>
            <tr th:each="updateUser, iterStat : ${updateUser}">
                <td>
                    <input type="hidden" name="userId" id="userId" th:value="${updateUser.userId}">
                    <span th:text="${updateUser.userId}"></span>
                </td>
                <td> <input type="text" name="name" th:value="${updateUser.name}" required class="textbox"></td>
                <td> <input type="text" name="englishName" th:value="${updateUser.englishName}" class="textbox1"></td>
                <td> <input type="date" name="birthDate" th:value="${#dates.format(updateUser.birthDate, 'yyyy-MM-dd')}" class="textbox2"></td>
                <td>
                    <input type="radio" th:id="'lunar_' + ${iterStat.index}" th:name="'lunarSolar_' + ${iterStat.index}" value="음" th:checked="${updateUser.lunarSolar == '음'}" required> 음
                    <input type="radio" th:id="'solar_' + ${iterStat.index}" th:name="'lunarSolar_' + ${iterStat.index}" value="양" th:checked="${updateUser.lunarSolar == '양'}" required> 양
                    <input type="radio" th:id="'-_' + ${iterStat.index}" th:name="'lunarSolar_' + ${iterStat.index}" value="-" th:checked="${updateUser.lunarSolar == '-'}" required> -

                </td>
                <td>
                    <input type="radio" th:id="'male_' + ${iterStat.index}" th:name="'gender_' + ${iterStat.index}" value="남" th:checked="${updateUser.gender == '남'}" required>남
                    <input type="radio" th:id="'female_' + ${iterStat.index}" th:name="'gender_' + ${iterStat.index}" value="여" th:checked="${updateUser.gender == '여'}" required>여
                </td>
                <td> <input type="text" name="phoneNumber" th:value="${updateUser.phoneNumber}" class="textbox2"></td>
                <td> <input type="text" name="address" th:value="${updateUser.address}" class="textbox3"></td>
                <td> <button type="button" th:onclick="deleteUser([[${updateUser.userId}]])"  class="deleteUser">−</button> </td>
            </tr>
        </table>
        <div class="center1">
            <button type="button" onclick="cancelUpdate()" class="cancelBtn">⏎</button>
            <button type="submit" class="saveBtn">✓</button>
        </div>
    </form>
</div>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const users = document.querySelectorAll('[th\\:each="updateUser, iterStat : ${updateUser}"]');
        users.forEach(function (user, index) {
            const maleRadio = user.querySelector(`#male_${index}`);
            const femaleRadio = user.querySelector(`#female_${index}`);

            const lunarRadio = user.querySelector(`#lunar_${index}`);
            const solarRadio = user.querySelector(`#solar_${index}`);
            const noRadio = user.querySelector(`#-_${index}`);

            const genderValue = "${updateUser.gender}".trim();
            const lunarSolarValue = "${updateUser.lunarSolar}".trim();


            if (genderValue === '남') {
                maleRadio.checked = true;
             } else if (genderValue === '여') {
                femaleRadio.checked = true;
            }

            if (lunarSolarValue === '음') {
                lunarRadio.checked = true;
             } else if (lunarSolarValue === '양') {
                solarRadio.checked = true;
            } else {
                noRadio.checked = true;
            }
        });
    });

    function cancelUpdate() {
        location.href = "/bowling/users";
    }

    function deleteUser(g) {
        console.log(g);
        if(confirm("회원을 삭제하시겠습니까?")) {
            location.href = "/bowling/delete/" + g;
        }
    }





</script>
</body>
</html>